<h1>Your Plants</h1>

<% @plants.each do |plant| %>
  <%= link_to plant_path(plant) do %>
    <%= cl_image_tag plant.cover_photo.key, width: 300, height: 200, crop: :fill %>
  <% end %>
  <p><%= plant.title %></p>
  <p><%= link_to "#{pluralize(plant.plant_interests.count, "person")} interested", chats_plant_path(plant) %></p>
  <p>Added on <%= plant.created_at.strftime("%b %e, %Y") %></p>
  <p><%= link_to "Edit details", edit_plant_path(plant) %></p>
  <p><%= link_to "Delete", plant_path(plant), method: :delete %></p>
<% end %>