 <div class="other-message">
  <div class="other-message__left">
    <div>
      <%= cl_image_tag plant_interest.user.profile_picture.key, width: 60, height: 60, crop: :fill, class: "message__profile-picture" %>
    </div>
  </div>
  <div class="other-message__right">
    <%= cl_image_tag plant_interest.plant.cover_photo.key, width: 200, height: 140, crop: :fill, class: "other-message__plant-interest-picture" %>
    <div>
      <% if plant_interest.user == current_user %>
        <span class="font-text font-size-12 font-weight-light font-colour-light-grey">You are interested in <%= plant_interest.plant.user.name %>'s' plant "<%= plant_interest.plant.title %>"&nbsp;&nbsp;—&nbsp;&nbsp;</span>
      <% else %>
        <span class="font-text font-size-12 font-weight-light font-colour-light-grey"><%= plant_interest.user.name %> is interested in your plant "<%= plant_interest.plant.title %>"&nbsp;&nbsp;—&nbsp;&nbsp;</span>
      <% end %>
      <span class="font-text font-size-12 font-weight-light font-colour-light-grey"><%= plant_interest.created_at.strftime("%l:%M %p") %></span>
    </div>
  </div>
</div>