<h2>New</h2>

<% @new_chats.each do |chat| %>
  <%= link_to chat_path(chat) do %>
    <%= cl_image_tag chat.other_user.profile_picture.key, width: 100, height: 100, crop: :fill %>
    <p><%= chat.other_user.name %> (<%= chat.number_of_unread_messages %>)</p>
    <p><%= chat.messages.last.content %></p>
  <% end %>
<% end %>

<h2>Read</h2>

<% @old_chats.each do |chat| %>
  <%= link_to chat_path(chat) do %>
    <%= cl_image_tag chat.other_user.profile_picture.key, width: 100, height: 100, crop: :fill %>
    <p><%= chat.other_user.name %></p>
    <p><%= chat.messages.last.content %></p>
  <% end %>
<% end %>