<%= link_to chats_path do %>
  <h1 class="chat-show__header font-text font-weight-medium font-size-24 font-colour-charcoal">
    <%= image_tag "carrot-left-black.svg" %>
    <%= @chat.other_user.name %>
  </h1>
<% end %>

<div data-controller="chat" data-chat-id="<%= @chat.id %>">
  <div class="chat-container" data-target="chat.messageList">
    <% @messages_and_plant_interest.each do |record| %>
      <% if record.class == Message %>
        <% if record.sender == current_user %>
          <%= render "chats/my_message", message: record %>
        <% else %>
          <%= render "chats/other_users_message", message: record %>
        <% end %>
      <% elsif record.class == PlantInterest %>
        <% if record.user == current_user %>
          <%= render "chats/my_plant_interest", plant_interest: record %>
        <% else %>
          <%= render "chats/other_users_plant_interest", plant_interest: record %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="input string message-content">
    <%= simple_form_for [@chat, Message.new], html: { data: { action: "submit->chat#clearInput", target: "chat.form" }} do |f| %>
      <div class="message-submit-button" data-action="click->chat#submitForm">
        <%= image_tag "paper_airplane.svg", width: 20 %>
      </div>
      <%= f.input :content, label: false, as: :string, input_html: { class: "", placeholder: "Message #{@chat.other_user.name}...", autocomplete: "off", autofocus: true, data: { target: "chat.input" }} %>
    <% end %>
  </div>
</div>
