<%= link_to chats_path do %>
  <h1 class="chat-show__header font-text font-weight-medium font-size-24 font-colour-charcoal">
    <%= image_tag "carrot-left-black.svg" %>
    <%= @chat.other_user.name %>
  </h1>
<% end %>

<div class="chat-container">
  <% @messages_and_plant_interest.each do |record| %>
    <% if record.class == Message %>
      <% if record.sender == current_user %>
        <%= render "chats/my_message", message: record %>
      <% else %>
        <%= render "chats/other_users_message", message: record %>
      <% end %>
    <% elsif record.class == PlantInterest %>
      <% if record.user == current_user %>
        <%= render "chats/my_plant_interest", plant_interest: record %>
      <% else %>
        <%= render "chats/other_users_plant_interest", plant_interest: record %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= simple_form_for([@chat, Message.new]) do |f| %>

  <div class="input string required message-content">
    <div class="message-submit-button">
      <%= image_tag "paper_airplane.svg", width: 20 %>
    </div>
    <input
      placeholder="Message <%= @chat.other_user.name %>..."
      class="string required new-message-content"
      autocomplete="off"
      autofocus="autofocus"
      type="text"
      name="message[content]"
      id="message-content"
    >
  </div>
<% end %>