<h1><%= @chat.other_user.name %></h1>

<% @messages_and_plant_interest.each do |record| %>
  <% if record.class == Message %>
    <% message = record %>
    <div><%= cl_image_tag message.sender.profile_picture.key, width: 70, height: 70, crop: :fill %></div>
    <p><%= message.content %></p>
    <p><%= message.created_at.strftime("%l:%M %p") %></p>
  <% elsif record.class == PlantInterest %>
    <% plant_interest = record %>
    <div><%= cl_image_tag plant_interest.plant.cover_photo.key, width: 140, height: 100, crop: :fill %></div>
    <p><%= plant_interest.user.name %> is interested in your plant "<%= plant_interest.plant.title %>"</p>
  <% end %>
<% end %>
