<div class="plant-card">
  <%= link_to plant_path(plant) do %>
  
    <div
      class="plant-card__cover-photo"
      data-reflex-permanent
      data-target="plant-cards.card"
      data-background-image-url="<%= cl_image_path plant.cover_photo.key, width: 320 * 2, height: 180 * 2, crop: :fill %>"
    ></div>
  <% end %>

  <div class="plant-card__avatar" style="background-image: url('<%= cl_image_path plant.user.profile_picture.key %>');"></div>

  <% favourite = plant.favourites.to_a.find { |fav| fav.user == current_user} %>

  <% if user_signed_in? %>
    <% if favourite %>
      <% if policy(favourite).destroy? %>
        <%= image_tag "heart_pink--filled.svg", class: "plant-card__heart", width: 24, height: 24, data: {
          reflex: "click->FavouritesReflex#destroy",
          favourite_id: favourite.id
        } %>
      <% end %>
    <% else %>
      <% favourite = plant.favourites.new(user: current_user) %>
      <% if policy(favourite).create? && plant.user != current_user %>
        <%= image_tag "heart_pink.svg", class: "plant-card__heart", width: 24, height: 24, data: {
          reflex: "click->FavouritesReflex#create",
          plant_id: plant.id
        } %>
      <% end %>
    <% end %>
  <% end %>

  <div class="plant-card__body">
    <%= link_to plant_path(plant), class: "text-decoration-none" do %>
      <h2 class="plant-card__title font-text font-colour-charcoal font-weight-regular font-size-18"><%= plant.title %></h2>
    <% end %>

    <div class="plant-card__lower">
      <p class="plant-card__date font-text font-colour-light-grey font-size-12">Montreal | <%= plant.created_at.strftime("%b %e, %Y") %></p>

      <% if plant.price_cents == 0 %>
        <p class="plant-card__price font-text font-colour-charcoal font-weight-medium font-size-18">FREE</p>
      <% else %>
        <p class="plant-card__price font-text font-colour-charcoal font-weight-medium font-size-18"><%= number_to_currency plant.price_cents / 100 %></p>
      <% end %>
    </div>
  </div>
</div>