<h1><%= pluralize(@plants.count, "Results") %></h1>

<% @plants.each do |plant| %>
  <div>
    <%= link_to plant_path(plant) do %>
      <%= cl_image_tag plant.cover_photo.key %>
    <% end %>
    <%= cl_image_tag plant.user.profile_picture.key, width: 60, height: 60, crop: :fill %>
    <h2><%= plant.title %></h2>
    <p><%= time_ago_in_words plant.created_at %> ago</p>
    <% if plant.price_cents == 0 %>
      <p>FREE</p>
    <% else %>
      <p><%= number_to_currency plant.price_cents / 100 %></p>
    <% end %>

    <% if user_signed_in? %>
      <% favourite = Favourite.find_or_initialize_by(user: current_user, plant: plant) %>

      <% if favourite.persisted? %>
        <% if policy(favourite).destroy? %>
          <p><%= link_to "unfavourite", favourite_path(favourite), method: :delete %></p>
        <% end %>
      <% else %>
        <% if policy(favourite).create? && plant.user != current_user %>
          <p><%= link_to "favourite", plant_favourites_path(plant), method: :post %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>