<div class="plants-form">
  <div class="plants-form__header">
    <h1 class="plants-form__title font-title font-size-24 font-colour-charcoal">Post your plant</h1>
    <p class="font-text font-size-14 font-colour-light-grey">Once your post is approved by PlantBnb moderators it will be publically visible </p>
  </div>

  <%= simple_form_for(@plant) do |f| %>
    <%= f.input :title, input_html: { autocomplete: "off", placeholder: "" } %>
    <%= f.input :description, hint: "Maximum of 30 characters" %>
    <%= f.input :price, hint: "Leave blank if your plant is free", input_html: { autocomplete: "off", value: nil } %>
    <%= f.input :cover_photo, required: true %>
    <%= f.input :pictures, hint: "Maximum of 3 pictures", input_html: { multiple: true } %>
    <%= f.association :categories, input_html: { class: "select2" } %>

    <div>
      <%= f.submit "Submit for Approval"%>
    </div>
  <% end %>
</div>