<h1>Post your plant</h1>
<p>Once your post is approved by PlantBnb moderators it will be publically visible </p>

<%= simple_form_for(@plant) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :cover_photo %>
  <%= f.input :pictures, input_html: { multiple: true } %>
  <%= f.association :categories %>

  <div>
    <%= f.submit "Submit for Approval"%>
  </div>
<% end %>

