<div class="plants-show__container">
  <div class="plants-show__left-column">
    <div class="plants-show__top-left">
      <div>
        <h1 class="plants-show__title font-title font-weight-medium font-size-20 font-colour-charcoal"><%= @plant.title %></h1>

        <% if @plant.price_cents == 0 %>
          <p class="font-text font-weight-medium font-size-20 font-colour-charcoal">FREE</p>
        <% else %>
          <p class="font-text font-weight-medium font-size-20 font-colour-charcoal"><%= number_to_currency @plant.price_cents / 100 %></p>
        <% end %>
      </div>

      <div>
        <% favourite = Favourite.find_or_initialize_by(user: current_user, plant: @plant) %>

        <% if favourite.persisted? %>
          <% if policy(favourite).destroy? %>
            <%= image_tag "heart_pink--filled.svg", width: 26, height: 26, data: {
              reflex: "click->FavouritesReflex#destroy",
              favourite_id: favourite.id
            } %>
          <% end %>
        <% else %>
          <% if policy(favourite).create? && @plant.user != current_user %>
            <%= image_tag "heart_pink.svg", width: 26, height: 26, data: {
              reflex: "click->FavouritesReflex#create",
              plant_id: @plant.id
            } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="plant-picture-gallery" data-controller="plant-pictures-gallery" data-reflex-permanent>
      <div
        class="plant-picture-gallery__main-picture"
        style="background-image: url('<%= cl_image_path @plant.cover_photo.key, height: 380, crop: :scale %>')"
        data-target="plant-pictures-gallery.mainPicture"
      ></div>

      <% if @plant.pictures.any? %>
        <div class="plant-picture-gallery__thumbnails">
          <div
            class="plant-picture-gallery__thumbnail plant-picture-gallery__thumbnail--selected"
            style="background-image: url('<%= cl_image_path @plant.cover_photo.key, height: 380, crop: :scale %>')"
            data-action="click->plant-pictures-gallery#selectPicture"
            data-target="plant-pictures-gallery.thumbnail"
            data-active="true"
            data-image-url="<%= cl_image_path @plant.cover_photo.key %>"
          ></div>
          <% @plant.pictures.each do |picture| %>
            <div
              class="plant-picture-gallery__thumbnail"
              style="background-image: url('<%= cl_image_path picture.key, height: 380, crop: :scale %>')"
              data-action="click->plant-pictures-gallery#selectPicture"
              data-target="plant-pictures-gallery.thumbnail"
              data-image-url="<%= cl_image_path picture.key %>"
            ></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <h3 class="plant-show__description-header font-text font-weight-regular font-colour-grey font-size-18">Description</h3>
    <% @plant.description.split("\n").each do |description_paragraph| %>
      <p class="font-text font-weight-light font-colour-grey font-size-16" style="margin-bottom: 16px;"><%= description_paragraph %></p>
    <% end %>
  </div>

  <div class="plants-show__right-column">
    <p class="plants-show__time-posted-ago font-text font-colour-grey font-size-14">Posted <%= time_ago_in_words(@plant.created_at) %> ago in Montreal</p>
    <p class="font-text font-colour-black font-weight-medium font-size-14">View on map</p>

    <% if @plant_interest.persisted? %>
      <div class="plants-show__contact-form">
        <h2 class="plants-show__form-title font-text font-colour-charcoal font-size-14 font-weight-medium">You've contacted <%= @plant.user.name %> about this plant. Click <%= link_to "here", chat_path(@chat), class: "font-colour-black font-weight-medium text-decoration-underline" %> to chat.</h2>
      </div>
    <% elsif policy(@plant_interest).create? && current_user != @plant.user %>
      <div class="plants-show__contact-form">
        <h2 class="plants-show__form-title font-text font-colour-charcoal font-size-14 font-weight-medium">Contact <%= @plant.user.name %> regarding this plant</h2>
        <%= form_with url: plant_plant_interests_path(@plant) do %>
          <%= text_area_tag "message[content]", "", placeholder: "Write a message...", class: "plants-show__message-content" %>
          <%= submit_tag "Send Message", class: "button-green button-fluid" %>
        <% end %>
      </div>
    <% end %>

    <div class="plants-show__plant-owner">
      <div class="plants-show__plant-owner-picture" style="background-image: url('<%= cl_image_path @plant.user.profile_picture.key %>')"></div>
      <div>
        <p class="font-text font-colour-grey font-weight-regular font-size-14"><%= @plant.user.name %></p>
        <div class="plant-show__plant-owner-rating">
          <% if @plant.user.average_rating %>
            <p>
              <% @plant.user.average_rating.floor.times do %>
                <%= image_tag "star--filled.svg", style: "margin-left: -5px;", width: 20, height: 20 %>
              <% end %>

              <% (5 - @plant.user.average_rating.floor).times do %>
                <%= image_tag "star.svg", style: "margin-left: -5px;", width: 20, height: 20 %>
              <% end %>
            </p>
            <p class="font-text font-colour-grey font-weight-regular font-size-14"><%= @plant.user.average_rating.round(1) %></p>
            <p class="font-text font-colour-light-grey font-weight-regular font-size-14">(<%= @plant.user.number_of_ratings %> reviews)</p>
          <% end %>
        </div>
        <p class="font-text font-colour-black font-weight-medium font-size-14">View all listings</p>
      </div>
    </div>

    <% if @users_other_plants.any? %>
      <div class="plants-show__other-plants">
        <h3 class="plants-show__other-plants-title font-text font-size-18 font-weight-regular font-colour-grey"><%= @plant.user.name %>'s other plants</h3>

        <% @users_other_plants.each do |plant| %>
          <div class="users-other-plant-card">
            <%= link_to plant_path(plant) do %>
              <div class="users-other-plant-card__picture" style="background-image: url('<%= cl_image_path plant.cover_photo.key %>');"></div>
            <% end %>

            <div class="users-other-plant-card__body">
              <%= link_to plant.title, plant_path(plant), class: "text-decoration-none font-text font-weight-regular font-size-18 font-colour-charcoal" %>

              <div class="users-other-plant-card__bottom">
                <p class="font-text font-weight-regular font-size-12 font-colour-light-grey">Montreal | <%= plant.created_at.strftime("%b %e, %Y") %></p>

                <% if plant.price_cents == 0 %>
                  <p class="font-text font-weight-medium font-size-28 font-colour-charcoal">FREE</p>
                <% else %>
                  <p class="font-text font-weight-medium font-size-28 font-colour-charcoal"><%= number_to_currency plant.price_cents / 100 %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>